{% if menu %}
    <ul>
        {% for item in menu.items.all %}
            <li class="{% if item == active_item %}active{% endif %}">
                <a href="{{ item.get_url }}">{{ item.title }}</a>
                {% if item.children.all %}
                    <ul>
                        {% for child in item.children.all %}
                            <li class="{% if child == active_item %}active{% endif %}">
                                <a href="{{ child.get_url }}">{{ child.title }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endif %}